// theme colors
$body-bg: #f8efef;
$body-color: #161843;
$border-color: #cad6e4;
$forgot-password: #0c6787;
$links-color: #046586;
$primary: #046586;
$gray: #838a9e;
$media-color: #000;
$white: #fff;
$light-gray: #cad6e4;
$label-color: #717a90;
$blur-effect: #f0d3d3;
// $blur-values: ;
